@import "./variables";
@import "./normalize";
@import "./fonts";
@import "./general";

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0px;
}

.finance-management {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: $clr-blue-800;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px;
  width: 26.25rem;
  text-align: center;
}

.income-card {
  #income {
    color: $clr-green-900;
  }
  button {
    background-color: #7af27a;
    border: 0.1875rem solid $clr-green-900;
    color: $clr-green-900;
    transition: 0.2s all ease-in;
    &:hover {
      background-color: $clr-green-900;
      color: white;
    }
  }
}
#income {
  font-size: 3rem;
  position: relative;
  bottom: 10px;
}
#expenses {
  font-size: 3rem;
  position: relative;
  bottom: 10px;
}
#expense-button {
  background-color: #fee1e1;
  border: 0.1875rem solid $clr-red-900;
  color: $clr-red-900;
  transition: 0.2s all ease-in;
  &:hover {
    background-color: $clr-red-900;
    color: white;
  }
}
#current-balance {
  font-size: 3rem;
  color: $clr-blue-900;
}
.expenses-wrapper img {
  transform: rotateZ(180deg);
  position: relative;
}
.expense-card {
  #expenses {
    color: $clr-red-900;
  }
}
table {
  margin-top: 50px;
  width: 90%
}
.table-container {
  display: flex;
  justify-content: center;
}
th,
td {
  border: 0.0625rem solid black;
  font-size: 1.5rem;
  width: 18.75rem;
  height: 2.5rem;
  text-align: center;
}
thead,
tbody {
  :first-child {
    width: 5rem;
  }
  :nth-child(2) {
    width: 62.5rem;
  }
}

button {
  border: none;
  // background: none;
  padding: 0.625rem 1.5rem;
  border-radius: 20px;
  margin-top: 20px;
}

#input {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.input__container {
  background: #ede8e8;
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 0.625rem;
  textarea {
    resize: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.625rem;
    
  }
  label {
    font-size: 3rem;
    font-weight: 600;
  }
  input {
    font-size: 3rem;
    width: 25rem;
    border-radius: 10px;
  }
  input[type='number'] {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  input[type="submit"] {
    border: 0.1875rem solid $clr-blue-900;
    background-color: #98eee7;
    width: 18.75rem;
    transition: 0.12s all ease-in;
    &:hover {
      background-color: $clr-blue-900;
      color: white;
    }
  }
}
/* Hide the spinner controls */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide the spinner controls for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
  
#cancel {
    font-size: 1.125rem;
    border: 0.1875rem solid $clr-red-900;
    background-color: #fee1e1;
    transition: 0.2s all ease-in;
    &:hover {
        background-color: $clr-red-900;
        color: white;
    }
}

.header__container {
  width: 15.625rem;
}

.expenses-wrapper img {
  height: 3.75rem;
}

.income-card img {
  height: 3.75rem;
  position: relative;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
  .income-card img {
    bottom: 0.3rem;
  }
  .expenses-wrapper img {
    bottom: 0.3rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
  .income-card img {
    bottom: 0.5rem;
  }
  .expenses-wrapper img {
    bottom: 0.5rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 6px;
  }
  .income-card img {
    bottom: 0.9rem;
  }
  .expenses-wrapper img {
    bottom: 0.9rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 5px;
  }
  .card {
    padding: 1rem;
  }
  .income-card img {
    bottom: 1.2rem;
  }
  .expenses-wrapper img {
    bottom: 1.2rem;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 4px;
  }
  .card {
    padding: 0.75rem;
  }
  .income-card img {
    bottom: 1.5rem;
  }
  .expenses-wrapper img {
    bottom: 1.5rem;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 4px;
  }
}